.border-between-buttons{
    display: flex;
}

.order{
    border-bottom-style: groove;
    border-bottom-width: 1px;
}

.order-status-icon{
    height: 25px;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

@media screen and (max-width: 992px) {
    .hide-when-small-screen{
        display: none !important;
    }
}